html.sr .load-hidden {
    visibility: hidden;
}
/* body */
html,body{
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}
/* background */
#background{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: 60%;
    height: 100%;
    width: 100vw;
}
/* header */
header{
    position:absolute;
    z-index:10;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    height: 10vh;
    background: transparent;
    padding: 0 10vw;
}
/* navbar */
.nav ul li a{
    padding:2em 1.5em;
    color: rgba(97, 109, 107, 0.918);  
}
#logo{
    width: 100px;
    height: 100px;
}
#row-1{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding-left: 10vw;
    padding-right: 10vw;
}
/* jumbotron */
.jumbotron{
    height: 100vh;
    background: transparent;
    position: absolute;
    top: 10vh;
    color: white;
}
 /* jumbotron headings */
    #heading{
        font-size: 3.8em;
        z-index: 110;
        position: absolute;
        top: 15vh;
        letter-spacing: 0.18em;
        font-family: 'Playfair Display', serif;
        text-transform: uppercase;
    }
    #sign{
        position: absolute;
        top: -5vh;
        font-size: 23em;
        background: linear-gradient(63deg, rgba(251,164,40,0.9164040616246498) 0%, rgba(246, 102, 25, 0.616) 36%, rgba(245, 97, 23, 0.63) 38%, rgba(241, 49, 11, 0.801) 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: 100;
        font-family: 'Raleway', sans-serif;
    }
    #subheading{
        font-size: 2.2em;
        letter-spacing: 2.68em;
        position: relative;
        top: 16vh;
        z-index: 100;
        font-family: 'Playfair Display', serif;
        mix-blend-mode: luminosity;
    }
    /* jumbotron cards */
    /* card 1 */
        #heading-card-1{
            position: absolute;
            bottom: 15vh;
            left: 20vw;
            width: 40vw;
            height: 22vh;
            background-color: rgba(0, 0, 0, 0.671);
           color: rgba(97, 109, 107, 0.918);
           font-family: 'Playfair Display', serif;
        }
        #heading-card-1 h5{
            font-size: 1em;
            letter-spacing: 0.05em;
        }
        #heading-card-1 h5:after{
            content: "";
            display: block;
            margin: 0;
            width: 30px;
            padding-top: 1vh;
            border-bottom: 3px solid rgba(241, 49, 11, 0.801);
        }
        #heading-card-1 p{
            font-size: 0.7em;
            font-family: 'Raleway', sans-serif;
        }
    /* card-2 */
        #heading-card-2{
            position: absolute;
            bottom: 15vh;
            left: 62vw;
            background-color: rgba(0, 0, 0, 0.671);
            color: rgba(97, 109, 107, 0.918);
            opacity: 0.7;
            width: 17vw;
            height: 22vh;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.1;
        }
        #heading-card-2 h5{
            font-size: 1em;
            letter-spacing: 0.05em;
        }
        #heading-card-2 h5:after{
            content: "";
            display: block;
            margin: 0;
            width: 30px;
            padding-top: 1vh;
            border-bottom: 3px solid rgba(241, 49, 11, 0.801);
        }
        .btn{
            background: initial;
            width: 150px;
            border: 2px solid rgba(172, 171, 171, 0.863);
            color: rgba(97, 109, 107, 0.918);
        }
    /* main objectives row-2 */
    #row-2{
        position: relative;
        top: 0vh;
        background-color: #050505;
        color: rgba(97, 109, 107, 0.918);
        width: initial;
        height: 60vh;
        padding: 15vh 10vw 20vh 15vh;
    }
    #objectives-heading{
        font-size: 1.8em;
    }
    #objectives-heading:after{
        content: "";
        display: block;
        margin: 0;
        width: 30px;
        padding-top: 1vh;
        border-bottom: 3px solid rgba(241, 49, 11, 0.801);
    } 
    #objectives-text{
        font-size: 1em;
        width: 50%;
        opacity: 0.9;
    }
    .highlight{
        color: rgba(241, 49, 11, 0.801);
        font-size: 5em;
        font-family: 'Playfair Display', serif;
        
    }
    /* icons row-3 */
    #row-3{
        position: relative;
        background-color: #050505;
        color: rgba(97, 109, 107, 0.918);
        width: 100vw;
        height: 60vh;
        padding: 15vh 10vw 15vh 15vh;
        flex-direction: row;
        justify-content: space-around;
    }
    #row-3 img{
        height: 90px;
        width: 90px;
        
    }
    #icons-row{
        justify-content: space-evenly;
        width: 100vw;
        
        padding-top: 10vh;
    }
    .card{
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 10vh;
    }
    .card-title{
        font-size: 1.2em;
        font-family: 'Playfair Display', serif;
        text-align: left;
        padding-top: 3vh;
        width: 180px;
    }
    .card-text{
        font-size: 0.7em;
        line-height: 1.5em;
        width: 200px;
        text-align: left;
        
    }
    /* projects row-4 */
    #row-4{
        position: relative;
        color: #050505;
    }
        /* cabin row */
        #cabin-div{
            background-color: #050505;
            z-index: -150;
            color: rgba(97, 109, 107, 0.918);
            height: 80vh;
            padding-top: 15vh;
            display: flex;
            flex-direction: row;
            padding-bottom: 10vh;

        }
        #cabin-div:after{
            content: "";
            display: block;
            position:absolute;
            border-top: 5px solid rgba(241, 49, 11, 0.801);
            border-left: 5px solid rgba(241, 49, 11, 0.801);
            width: 70vw;
            height: 50vh;
            top: 12.5vh;
            left: 10vw;
            z-index: -200;
        }
        #cabin{
            padding: 0;
            margin-left: 10vw;
            padding-left: 1em;
            height: 500px;
            top: 0vh;

        }
        #blockquote-1{
            padding-left: 5vw;
            width: 30%;
        }
        .blockquote-heading{
            font-size: 1.6em;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.3em;
        }
        .blockquote-heading:after{
            content: "";
            display: block;
            margin: 0;
            width: 25px;
            padding-top: 1vh;
            border-bottom: 3px solid rgba(241, 49, 11, 0.801);
        }
        .quote-1{
            font-size: 0.8em;
            width:35vw;
        }
        /* hotel row */
        #hotel-div{
            background-color: #050505;
            z-index: -100;
            height: 80vh;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding-bottom: 10vh;
            width: 100%;
        }
        #hotel-div:after{
            content: "";
            display: block;
            position:absolute;
            background-color: #090e088e;
            border-right: 5px solid rgba(241, 49, 11, 0.801);
            width: 80vw;
            height: 60vh;
            top: 15vh;
            left: 10vw;
            z-index: -200;
        }
        #blockquote-2{
            text-align: right;
            color: rgba(97, 109, 107, 0.918);
            top: 10vh;
        } 
        .blockquote-heading-2{
            font-size: 1.6em;
            font-family: 'Playfair Display', serif;
            letter-spacing: 0.3em;
            margin-right: calc(350px + 10vw + 5px);
        }
        .blockquote-heading-2:after{
            content: "";
            display: block;
            width: 25px;
            border-bottom: 3px solid rgba(241, 49, 11, 0.801);
                 margin-left: 6vw;
        }
        #hotel{
            position: absolute;
            right: 0;
            height: 500px;
            top: 15vh;
            margin-right: 10vw;
        }
        .quote-2{
            font-size: 0.8em;
            width:35vw;
        }
        #middle-footer, #middle-button{
            margin-right: calc(350px + 10vw + 5px);
        }
        /* house row */
        #house-div{
            color: rgba(97, 109, 107, 0.918);
            background-color: #050505;
            z-index: -100;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: row;
            padding-left: 10vw;
        }
        #house-div:after{
            content: "";
            display: block;
            position:absolute;
            border-left: 5px solid rgba(241, 49, 11, 0.801);
            border-bottom: 5px solid rgba(241, 49, 11, 0.801);
            width: 80vw;
            height: 50vh;
            bottom: 0;
            left: 10vw;
            z-index: -200;
        }
        #house{
            height: 500px;
            margin-bottom: 15px;
            padding: 0;
        }
        #blockquote-3{
            padding-left: 5vw;
        }
.blockquote-footer{
    font-family: 'Parisienne', cursive;
    font-size: 1.2em;
    background:transparent;
}
/* footer */
#footer{
    height: 50vh;
    background-color: #050505;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 15vh;
}
#footer h5:after{
    content: "";
    display: block;
    margin: 0;
    width: 30px;
    padding-top: 1vh;
    border-bottom: 3px solid rgba(241, 49, 11, 0.801);
}
#email-input{
    background: #090e088e;
    outline: none;
    border:none;
    height: 7vh;
}
#btn-subscribe{
    background: rgba(241, 49, 11, 0.801);
    border: none;
}